<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Intranet" connectionString="Data Source=.;Initial Catalog=Intranet;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>